<div id="<%= dom_id quest %>" class="w-full sm:w-auto my-5 space-y-5">
    <%= form_with(model: quest, local: false, class: "contents") do |form| %>
      <%= form.check_box :status, 
          class: "h-5 w-5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 cursor-pointer",
          onchange: "this.form.requestSubmit()",
          "data-testid": "quest-checkbox" %>
    <% end %>
  <div class="<%= quest.status? ? 'line-through text-gray-500' : 'text-gray-900' %> transition-all duration-200 text-lg font-medium ml-4" data-testid="todo-name">
    <%= quest.name %>
  </div>
</div>
